#box {

			z-index:100;
			width: 100%;
			margin-right: -1%;
			border:1px solid #ccc;
			background: #ededed;
			text-align:center;
			color:#333;
			 position:relative;
			 text-align: left; 
			 left:0px; 
			 border: solid 3px #dddddd; 
			 border-top: solid 30px #dddddd; 
			 top:00px; 
			 padding: 20px; 
			 width: 95%; 
			
			 
		}